version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    assignees:
      - "ukwhatn"
    groups:
      github-actions:
        patterns:
          - "*"
